<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-tabs nav-justified">
        <li role="presentation" routerLinkActive="active"><a routerLink="in" href="#">По входящим исполнительным документам</a></li>
        <li role="presentation" routerLinkActive="active"><a routerLink="out" href="#">По исходящим исполнительным документам</a></li>
      </ul>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>