<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default" *ngIf="loading || packages.results.length > 0">
        <div class="panel-body" *ngIf="loading">
          <div class="text-center panel-body">
            <i class="fa fa-spinner fa-spin fa-3x"></i>
          </div>
        </div>
        <table class="table panel-body" *ngIf="packages.results.length > 0">
          <tr>
            <th>ID</th>
            <th>Дата загрузки</th>
            <th>Количество файлов</th>
            <th>Управление</th>
          </tr>
          <tr *ngFor="let package of packages.results">
            <th>{{ package.ID }}</th>
            <td>{{ package.TS | date:'dd.MM.yyyy HH:mm' }}</td>
            <td>{{ package.TOTAL_FILES_COUNT }}</td>
            <td>
              <div class="btn-group">
                  <a routerLink="{{ package.ID }}/debtors" class="btn btn-default btn-sm">Открыть</a>
                  <a routerLink="{{ package.ID }}/files" class="btn btn-default btn-sm"><i class="fa fa-files-o" aria-hidden="true"></i></a>
                  <a (click)="downloadReport($event,package.ID)" id="package_btn_{{package.ID}}" [ngClass]="{'disabled':!package.canGenerateReport}" class="btn btn-default btn-sm" title="Сформировать отчёт"><span aria-hidden="true" class="glyphicon glyphicon-download-alt"></span></a>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="panel panel-danger" *ngIf="error">
        <div class="panel-body text-center">
          <h3>{{ error }}</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="packages.previous || packages.next">
    <div class="col-md-12">
      <nav aria-label="pagination">
        <ul class="pager">
          <li [ngClass]="{'previous':packages.previous,'previous disabled':!packages.previous}"><a (click)="getPage($event, packages.previous)" href="#"><span aria-hidden="true">&larr;</span> Предыдущая страница</a></li>
          <li [ngClass]="{'next':packages.next,'next disabled':!packages.next}"><a (click)="getPage($event, packages.next)" href="#">Следующая страница <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>