<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">ФССП файл №{{ package_id }}</div>
        </div>
        <div class="panel-body">
          content
        </div>
      </div>
    </div>
  </div>
</div>