<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">СЭД "ФССП"</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/index">Главная</a></li>
        <li routerLinkActive="active"><a routerLink="/packages">Список пакетов</a></li>
        <!-- <li routerLinkActive="active"><a routerLink="/stats">Статистика</a></li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">{{ userInfo.last_name }} {{ userInfo.first_name }} <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/profile" href="#">Мой профиль</a></li>
            <li class="divider"></li>
            <li><a (click)="logout($event)" href="#">Выход из системы</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>