<div class="container login-page">
  <div class="row pull-center">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title">
              Форма для входа в систему
            </div>
          </div>
          <div class="panel-body">
              <div class="col-md-6">
                  <form class="loginForm" [formGroup]="lForm" (submit)="login()">
                      <div class="form-group" [ngClass]="{'has-error': !lForm.controls.username.valid}">
                        <label class="control-label" for="username">Имя пользователя:</label>
                        <input type="text" id="username" class="form-control" formControlName="username" placeholder="Имя пользователя">
                      </div>
                      <div class="form-group" [ngClass]="{'has-error': !lForm.controls.password.valid}">
                        <label class="control-label" for="password">Пароль:</label>
                        <input type="password" id="password" class="form-control" formControlName="password" placeholder="Пароль">
                      </div>
                      <div *ngIf="errorMsg" class="alert alert-danger" role="alert">{{ errorMsg }}</div>
                      <button class="btn btn-primary" type="submit" [disabled]="!lForm.valid">Войти</button>
                    </form>
              </div>
              <div class="col-md-6">
                <div class="jumbotron text-center ">
                  <h2>СЭД "ФССП"</h2>
                  <p class="lead">Система электронного документооборота с Федеральной службой судебных приставов</p>
                </div>
              </div>
          </div>
        </div>
      </div>
  </div>
</div>