<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            Список файлов от ФССП
            (<span>Пакет #{{ package_id }}</span>)
            <span class="badge pull-right" *ngIf="fileList.count">загружено {{ fileList.count }} файла(ов)</span>
          </div>
        </div>
        <div class="panel-body text-center" *ngIf="loading">
          <span class="fa fa-spin fa-spinner fa-3x"></span>
        </div>
        <div class="panel-body text-center" *ngIf="!loading && fileList.results.length == 0">
          <h3>Список файлов отсутствует</h3>
        </div>
        <table class="table panel-body" *ngIf="!loading && fileList.results.length > 0">
          <tr>
            <th>id</th>
            <th>Имя файла</th>
            <th>Должник (из файла)</th>
            <th>Статус идентификации</th>
            <th>Взаимодействие</th>          
          </tr>
          <tr *ngFor="let file of fileList.results">
            <td>{{ file.ID }}</td>
            <td>{{ file.NAME }}</td>
            <td *ngIf="file.DEBTOR">{{ file.DEBTOR.DBTR_NAME || 123}}</td>
            <td *ngIf="!file.DEBTOR">Отсутствует</td>
            <td>{{ file.IDENT_STATUS.nameReason }}</td>
            <td>
              <div class="btn-group">
                <a (click)="downloadFile($event, file.ID)" id="file_btn_{{ file.ID }}" class="btn btn-default btn-sm" title="Скачать файл">
                  <span>Скачать </span>
                  <span aria-hidden="true" class="glyphicon glyphicon-download-alt"></span></a>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-md-12" *ngIf="!loading && (fileList.previous || fileList.next)">
      <nav aria-label="pagination">
        <ul class="pager">
          <li class="previous" [ngClass]="{'disabled':!fileList.previous}"><a (click)="hasPreviousPage($event)" href="#"><span aria-hidden="true">&larr;</span> Предыдущая страница</a></li>
          <li class="pull-center"><span>{{ fileList.current }} из {{ fileList.of }}</span></li>
          <li class="next" [ngClass]="{'disabled':!fileList.next}"><a (click)="hasNextPage($event)" href="#">Следующая страница <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>