<app-navbar></app-navbar>
<div class="container">
  <div class="row" *ngIf="loading">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="text-center panel-body">
          <i class="fa fa-spinner fa-spin fa-3x"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">Расширенный поиск</div>
        </div>
        <div class="panel-body">
          <form [formGroup]="searchForm">
            <div class="form-group col-md-6">
              <label for="FA">Фамилия</label>
              <input type="text" formControlName="FA" class="form-control" name="FA" id="FA">
              <label for="IM">Имя</label>
              <input type="text" formControlName="IM" class="form-control" name="IM" id="IM">
              <label for="OT">Отчество</label>
              <input type="text" formControlName="OT" class="form-control" name="OT" id="OT">
            </div>
            <div class="form-group col-md-6">
              <label for="RA">Район</label>
              <select class="form-control" formControlName="RA" name="RA" id="RA">
                <option [ngValue]="null">---</option>
                <option [ngValue]="ra.id" *ngFor="let ra of raList">{{ ra.name_ra }}</option>
              </select>
              <label for="IDENT_STATUS">Статус идентификации</label>
              <select formControlName="IDENT_STATUS" class="form-control" name="IDENT_STATUS" id="IDENT_STATUS">
                <option [ngValue]="null">---</option>
                <option [ngValue]="identStatus.id" *ngFor="let identStatus of identStatusList">{{ identStatus.nameReason }}</option>
              </select>
              <label for="RDAT">Дата рождения</label>
              <input type="date" formControlName="RDAT" class="form-control" name="RDAT" id="RDAT">
            </div>
            <div class="checkbox col-md-6">
              <label>
                <input formControlName="SEARCH_OUT" type="checkbox" name="SEARCH_OUT" id="SEARCH_OUT"> Искать должников в других пакетах?
              </label>
            </div>
            <div class="form-group col-md-12">
              <button (click)="search();" [disabled]="!searchForm.valid" class="btn btn-primary">Поиск</button>
              <button (click)="getReset();" class="btn btn-default">Сбросить</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="!loading && listDebtorsLoading != null">
      <div class="col-md-12">
        <div class="panel panel-default" [ngClass]="{'panel-info':!listDebtors.results.length}">
          <div class="panel-heading">
            <div class="panel-title">Результаты поиска: {{ listDebtors.count || '0' }} должников(ка)</div>
          </div>
              <table class="table panel-body" *ngIf="listDebtors.results.length && listDebtorsLoading == false">
              <thead>
                <tr>
                  <td>Район</td>
                  <td>ФИО</td>
                  <td>Статус идентификации</td>
                  <td>Вид пенсии</td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let debtor of listDebtors.results">
                  <td *ngIf="debtor.RA">{{ debtor.RA.id }} - {{ debtor.RA.name_ra }}</td>
                  <td *ngIf="!debtor.RA">Не указано</td>
                  <td>
                    <a *ngIf="debtor.FA" target="_blank" routerLink="/debtors/{{ debtor.ID }}">{{ debtor.FA }} {{ debtor.IM }} {{ debtor.OT }}</a>
                    <a *ngIf="!debtor.FA" target="_blank" routerLink="/debtors/{{ debtor.ID }}">{{ debtor.DBTR_NAME }}</a>
                  </td>
                  <td>{{ debtor.IDENT_STATUS.nameReason }}</td>
                  <td *ngIf="debtor.RAZDEL">{{ debtor.RAZDEL.id }} - {{ debtor.RAZDEL.name_razdel }}</td>
                  <td *ngIf="!debtor.RAZDEL">Не указано</td>
                </tr>
              </tbody>
            </table>
            <div class="panel-body" *ngIf="!listDebtors.results.length && listDebtorsLoading == false">
              <h3 class="text-info text-center">
                Должники отсутствуют
              </h3>
            </div>
            <div class="text-center panel-body" *ngIf="listDebtorsLoading">
              <i class="fa fa-spinner fa-spin fa-3x"></i>
            </div>
        </div>
      </div>
      <div class="col-md-12" *ngIf="!listDebtorsLoading && listDebtors.previous || listDebtors.next">
        <nav aria-label="pagination">
          <ul class="pager">
            <li class="previous" [ngClass]="{'disabled':!listDebtors.previous}"><a (click)="hasPreviousPage($event)" href="#"><span aria-hidden="true">&larr;</span> Предыдущая страница</a></li>
            <li>{{ listDebtors.current }} из {{ listDebtors.of }}</li>
            <li class="next" [ngClass]="{'disabled':!listDebtors.next}"><a (click)="hasNextPage($event)" href="#">Следующая страница <span aria-hidden="true">&rarr;</span></a></li>
          </ul>
        </nav>
      </div>
    </div>
</div>