<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">Быстрый поиск по пакету</div>
        </div>
        <div class="panel-body">
          <form [formGroup]="searchForm">
            <div class="form-group col-md-6" [ngClass]="{'has-error':!searchForm.controls.RA.valid}">
              <label class="form-label" for="RA">Район</label>
              <select formControlName="RA" class="form-control" name="RA" id="RA">
                <option [ngValue]="null">---</option>
                <option *ngFor="let ra of rayons; let i=index" [ngValue]="ra.id">{{ ra.name_ra }}</option>
              </select>
            </div>
            <div class="form-group col-md-12">
              <button class="btn btn-primary" (click)="search();">Поиск</button>
              <button class="btn btn-default" (click)="getReset();">Сбросить</button>
              <button routerLink="/packages/{{packet.ID}}/search" class="btn btn-default">Расширенный поиск</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="!loading">
    <div class="col-md-12">
      <div class="panel panel-default" [ngClass]="{'panel-info':!listDebtors.results.length}">
        <div class="panel-heading">
          <div class="panel-title">
            Пакет #{{ packet.ID }} от {{ packet.TS | date:'dd.MM.yyyy HH:mm' }}
            <span class="badge pull-right">{{ listDebtors.count }} должников(ка)</span>
          </div>
        </div>
            <table class="table panel-body" *ngIf="listDebtors.results.length > 0">
            <thead>
              <tr>
                <td>Идентификатор</td>
                <td>Район</td>
                <td>ФИО</td>
                <td>Статус идентификации</td>
                <td>Вид пенсии</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let debtor of listDebtors.results">
                <td>{{ debtor.ID }}</td>
                <td *ngIf="debtor.RA">{{ debtor.RA.id }} - {{ debtor.RA.name_ra }}</td>
                <td *ngIf="!debtor.RA">Не указано</td>
                <td *ngIf="debtor.FA"><a target="_blank" routerLink="{{ debtor.ID }}">{{ debtor.FA }} {{ debtor.IM }} {{ debtor.OT }}</a></td>
                <td *ngIf="!debtor.FA"><a target="_blank" routerLink="{{ debtor.ID }}">{{ debtor.DBTR_NAME }}</a></td>
                <td>{{ debtor.IDENT_STATUS.nameReason }}</td>
                <td *ngIf="debtor.RAZDEL">{{ debtor.RAZDEL.id }} - {{ debtor.RAZDEL.name_razdel }}</td>
                <td *ngIf="!debtor.RAZDEL">Не указано</td>
              </tr>
            </tbody>
          </table>
        <div class="panel-body" *ngIf="!listDebtors.results.length">
          <h3 class="text-info text-center">
              Должники отсутствуют
          </h3>
        </div>
      </div>
    </div>
    <div class="col-md-12" *ngIf="listDebtors.previous || listDebtors.next">
      <nav aria-label="pagination">
        <ul class="pager">
          <li class="previous" [ngClass]="{'disabled':!listDebtors.previous}"><a (click)="hasPreviousPage($event)" href="#"><span aria-hidden="true">&larr;</span> Предыдущая страница</a></li>
          <li class="pull-center"><span>{{ listDebtors.current }} из {{ listDebtors.of }}</span></li>
          <li class="next" [ngClass]="{'disabled':!listDebtors.next}"><a (click)="hasNextPage($event)" href="#">Следующая страница <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="row" *ngIf="loading">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-center panel-body">
            <i class="fa fa-spinner fa-spin fa-3x"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="error">
    <div class="col-md-12">
      <div class="panel panel-danger">
        <div class="panel-body text-center">
          <h3>{{ error }}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
