<app-navbar></app-navbar>
<div class="container">
  <div class="row" *ngIf="loading">
    <div class="text-center">
        <i class="fa fa-spinner fa-spin fa-3x"></i>
    </div>
  </div>
  <div class="row" *ngIf="errorMsg && !debtor">
    <div class="panel panel-danger">
      <div class="panel-body text-center">
          <h3>{{ errorMsg }}</h3>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="!loading && debtor">
    <div class="col-md-12">
      <h1>Должник #{{ debtor.ID }}</h1>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
              Системная информация
          </div>
        </div>
          <table class="table panel-body">
            <tr>
              <th class="col-md-2">Взаимодействие</th>
              <td>
                  <button (click)="toProcess()" *ngIf="!debtor.STATUS_EXECUTOR" class="btn btn-warning btn-sm">Взять в обработку</button>
                  <button (click)="toCancel()" *ngIf="debtor.STATUS_EXECUTOR && debtor.STATUS_EXECUTOR.id == myUser.id" class="btn btn-danger btn-sm">Отказаться от обработки</button>
                  <a href="{{ URLServer }}download/doc-report/{{debtor.ID}}" target="_blank" class="btn btn-primary btn-sm">Скачать файл ФССП</a>
              </td>
            </tr>
            <tr *ngIf="debtor.STATUS_EXECUTOR">
              <th class="col-md-2">Изменение статуса</th>
              <td>{{ debtor.STATUS_EXECUTOR.last_name }} {{ debtor.STATUS_EXECUTOR.first_name }} от {{ debtor.DATE_COMPLETED | date:'dd.MM.yyyy HH:mm' }}</td>
            </tr>
            <tr>
              <th class="col-md-2">Статус идентификации</th>
              <td *ngIf="debtor.STATUS_EXECUTOR && debtor.STATUS_EXECUTOR.id == myUser.id">
                <div class="text-center">
                    <i class="fa fa-spinner fa-spin fa-2x" *ngIf="loadingIdentStatus"></i>
                </div>
                <form [formGroup]="identForm" *ngIf="!loadingIdentStatus">
                  <div class="form-group">
                    <select formControlName="status" class="form-control" name="" id="">
                      <option [value]="status.id" *ngFor="let status of identStatusList">{{ status.nameReason }}</option>
                    </select>
                  </div>
                  <div class="form-group" *ngIf="debtor.IDENT_STATUS_COMMENT || eventEditIdentStatus">
                    <label for="comment">Комментарий</label>
                    <textarea formControlName="comment" class="form-control" name="comment" id="comment" cols="30" rows="3"></textarea>
                  </div>
                  <div class="form-group" *ngIf="debtor.STATUS_EXECUTOR && debtor.STATUS_EXECUTOR.id == myUser.id">
                    <button class="btn btn-default" *ngIf="!eventEditIdentStatus" (click)="editIdentStatus()">Изменить</button>
                    <button class="btn btn-primary" *ngIf="eventEditIdentStatus" (click)="sendIdentStatus()">Сохранить</button>
                    <button class="btn btn-danger" *ngIf="eventEditIdentStatus" (click)="resetFormComment()">Отмена</button>
                  </div>
                </form>
              </td>
              <td *ngIf="!debtor.STATUS_EXECUTOR || debtor.STATUS_EXECUTOR && debtor.STATUS_EXECUTOR.id != myUser.id">{{ debtor.IDENT_STATUS.nameReason }}</td>
            </tr>
          </table>
      </div>
      <div class="panel panel-danger" *ngIf="errorMsg">
        <div class="panel-body">
          {{ errorMsg }}
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">Сведения из ПТК НВП</div>
        </div>
        <table class="table panel-body">
          <tr>
            <th class="col-md-4">Должник (ФИО / Дата рождения / СНИЛС)</th>
            <td>{{ debtor.FA }} {{ debtor.IM }} {{ debtor.OT }} / {{ debtor.RDAT | date:'dd.MM.yyyy'}} / {{ debtor.NPERS }}</td>
          </tr>
          <tr>
            <th class="col-md-4">Район</th>
            <td>{{ debtor.RA.name_ra || 'Не указано' }}</td>
          </tr>
          <tr>
            <th class="col-md-4">Вид получаемой пенсии</th>
            <td *ngIf="debtor.RAZDEL">{{ debtor.RAZDEL.id }} - {{ debtor.RAZDEL.name_razdel }}</td>
            <td *ngIf="!debtor.RAZDEL">Не указано</td>
          </tr>
        </table>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">Сведения из ФССП</div>
        </div>
        <table class="table panel-body">
            <tr>
              <th class="col-md-4">Должник (ФИО / Дата рождения / СНИЛС)</th>
              <td>{{ debtor.DBTR_NAME }} / {{ debtor.DBTR_BORN | date:'dd.MM.yyyy'}} / {{ debtor.SNILS }}</td>
            </tr>
            <tr>
              <th class="col-md-4">Адрес должника</th>
              <td>{{ debtor.DBTR_ADR || 'Не указано' }}</td>
            </tr>
            <tr>
              <th class="col-md-4">Место рождения</th>
              <td>{{ debtor.DBTR_BORN_ADR || 'Не указано' }}</td>
            </tr>
        </table>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">Информация о документе</div>
        </div>
        <table class="table panel-body">
            <tr>
              <th class="col-md-2">Тип документа</th>
              <td>{{ debtor.DOC_TYPE.name_doc || 'Не указано' }}</td>
            </tr>
            <tr>
              <th class="col-md-2">Установочная часть</th>
              <td>{{ debtor.ADJUDICATION_TEXT || 'Не указано' }}</td>
            </tr>
            <tr>
              <th class="col-md-2">Постановочная часть</th>
              <td>{{ debtor.RESOLUTION_TEXT || 'Не указано' }}</td>
            </tr>
            <tr>
              <th class="col-md-2">Исполнительный документ</th>
              <td>{{ debtor.ID_DOC_NO }} от {{ debtor.ID_DOC_DATE | date:'dd.MM.yyyy' }}</td>
            </tr>
            <tr>
              <th class="col-md-2">Общая сумма задолженности</th>
              <td>{{ debtor.TOTAL_ARREST_DEBT_SUM || 0 }} руб.</td>
            </tr>
            <tr>
              <th class="col-md-2">Остаток задолженности</th>
              <td>{{ debtor.IP_REST_DEBT_SUM || 0 }} руб.</td>
            </tr>
            <tr>
              <th class="col-md-2">Взыскатель</th>
              <td>{{ debtor.ID_CRDR_NAME || 'Не указано' }}</td>
            </tr>
            <tr>
              <th class="col-md-2">Адрес взыскателя</th>
              <td>{{ debtor.ID_CRDR_ADR || 'Не указано' }}</td>
            </tr>
        </table>
      </div>
      <div class="panel panel-default" *ngIf="debtor.DOC_TYPE.id != 'O_IP_ACT_DBT_CANCEL'">
        <div class="panel-heading">
          <div class="panel-title">Реквизиты для перечисления задолженности</div>
        </div>
        <table class="table panel-body">
          <tr>
              <th>Наименование получателя</th>
              <td>{{ debtor.RECIPIENT_NAME || 'Не указано' }}</td>
          </tr>
          <tr>
              <th>ОКТМО получателя</th>
              <td>{{ debtor.RECIPIENT_OKTMO || 'Не указано' }}</td>
          </tr>
          <tr>
              <th>ИНН получателя</th>
              <td>{{ debtor.RECIPIENT_INN || 'Не указано' }}</td>
          </tr>
          <tr>
              <th>КПП получателя</th>
              <td>{{ debtor.RECIPIENT_KPP || 'Не указано' }}</td>
          </tr>
          <tr>
              <th>Номер счета получателя</th>
              <td>{{ debtor.RECIPIENT_ACC_NUMBER || 'Не указано' }}</td>
          </tr>
          <tr>
              <th>Наименование банка получателя</th>
              <td>{{ debtor.RECIPIENT_BANK_NAME || 'Не указано' }}</td>
          </tr>
          <tr>
              <th>БИК банка получателя</th>
              <td>{{ debtor.RECIPIENT_BIC || 'Не указано' }}</td>
          </tr>
          <tr>
              <th>Перечисляемая сумма</th>
              <td>{{ debtor.AMOUNT || 'Не указано' }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>