<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">Мой профиль</div>
        </div>
        <div class="panel-body">
          <div *ngIf="loading" class="col-md-12 text-center">
            <span class="fa fa-spin fa-spinner fa-3x"></span>
          </div>
          <form [formGroup]="pForm" *ngIf="!loading" class="col-md-6">
            <div class="form-group">
              <label for="id" class="form-label">Идентификатор пользователя:</label>
              <input type="number" name="id" formControlName="id" class="form-control">
            </div>
            <div class="form-group">
              <label for="username" class="form-label">Имя пользователя:</label>
              <input type="text" formControlName="username" class="form-control">
            </div>
            <div class="form-group">
              <label for="lastName" class="form-label">Фамилия:</label>
              <input type="text" name="lastName" formControlName="lastName" class="form-control">
            </div>
            <div class="form-group">
              <label for="firstName" class="form-label">Имя:</label>
              <input type="text" name="firstName" formControlName="firstName" class="form-control">
            </div>
            <div class="form-group">
              <label for="email" class="form-label">Email адрес:</label>
              <input type="email" name="email" formControlName="email" class="form-control">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
