<app-navbar></app-navbar>
<div class="container content-block">
  
    <div class="jumbotron text-center">
      <h1>СЭД "ФССП"</h1>
      <p class="lead">Система электронного документооборота предназначена для взаимодействия с<br>Федеральной службой судебных приставов.</p>
    </div>
  
  </div><!-- /.container -->